:root {
    --primary-white: #FFFFFF;
    --bright-purple: #79436E;
    --dark-purple: #583150;
    --accent-gold: #CBB26B;
}

/* Signature below introduction */
#signature {
    font-family: 'Fuggles', cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 3rem;
    text-align: right;
    padding-right: 10%;  
}

/* Picture of Angelika in introduction */
#angelika {
    padding-bottom: 5%;
}

/* Paragraph style */
p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* Styles applicable at display width greater than 768px */
@media only screen and (min-width: 768px) {
    .introduction {
        padding: 10% 15% 0% 10%;
    } 
}

/* Styles applicable at display width greater than 1024px */
@media only screen and (min-width: 1024px) {
    .larger-font {
        font-size: 1.5rem;
    } 
} 

label {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.weighted-text {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 2%;
}

.ordersheet-labels {
    text-align: left;
    font-weight: bold;
    padding-top: 5%;
}

#modal-box {
    background-color: #79436e2d;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

#map-container-google {
    padding: 10% 0;
}

/*Footer style*/
.footer {
    background-color: var(--dark-purple);
    padding: 20px;
}

.footer a {
    color: #CBB26B;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-right: 1px solid var(--accent-gold);
    transition: all .5s ease;
  }
  .footer a:hover {
    color: var(--primary-white);
  }
  .footer a:first-child {
    border-left: 1px solid var(--accent-gold);
  }
  