@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap&family=Raleway:wght@100&display=swap");

:root {
    --primary-white: #FFFFFF;
    --light-purple: #79436E;
    --dark-purple: #583150;
    --accent-gold: #CBB26B;
}

html {
    scroll-behavior: smooth;  
}

/* Navbar */
#collapsible-navbar {
    font-size: 1.1rem;
     font-family: 'Raleway', sans-serif;
 }
 
 .navbar {
     position: fixed; 
     top: 0; 
     width: 100%;
     z-index: 3;  
 }
 
 /* !important to override Bootstrap stylesheet */
 .nav-link, .nav-link:active{
     color: var(--light-purple) !important;
 }

 /* End navbar */

 .weighted-text {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 2%;
}


/* Signature below introduction */
#signature {
    font-family: 'Fuggles', cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 3rem;
    text-align: right;
    padding-right: 10%;  
}

/* Picture of Angelika in introduction */
#angelika {
    padding: 2.5% 0;
}

/* Paragraph style */
p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

label {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

#custom-slices-input {
    margin-left: 2%;
    max-width: 15%;
}

.ordersheet-labels {
    text-align: left;
}

.form-group {
    padding-bottom: 5%;
}

#submit-button {
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem #2b2329b6;
    border-radius: 0;
    background-color: var(--light-purple);
}

#submit-button:hover {
    background-color: var(--dark-purple);
}

#modal-box {
    background-color: #79436e2d;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

#map-container-google {
    padding: 10% 0;
}

/*Footer style*/
.footer {
    background-color: var(--dark-purple);
    padding: 20px;
}

.footer a {
    color: #CBB26B;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-right: 1px solid var(--accent-gold);
    transition: all .5s ease;
  }
  .footer a:hover {
    color: var(--primary-white);
  }
  .footer a:first-child {
    border-left: 1px solid var(--accent-gold);
  }

/* Styles applicable at display width greater than 768px */
@media only screen and (min-width: 768px) {
    .introduction {
        padding: 10% 15% 0% 10%;
    }
    form {
        padding: 0 20%
    }
}

/* Styles applicable at display width greater than 1024px */
@media only screen and (min-width: 1024px) {
    .larger-font {
        font-size: 1.5rem;
    } 
} 