:root {
    --primary-white: #ffff;
    --secondary-purple: #79436E;
}

body {
background-color:var(--primary-white)
}

/* Signature below introduction */
#signature {
    color:black;
    font-family: 'Fuggles', cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 3rem;
    text-align:right;
    padding-right: 10%;  
}

/* Picture of Angelika in introduction */
#angelika {
    max-width: 100%;
}

/* Paragraph style */
p {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  
}

/* Styles applicable at display width greater than 768px */
@media only screen and (min-width: 768px) {
    .introduction {
        padding: 10% 15% 0% 10%;
    } 
    #angelika {
        max-width: 80%;
    }
}

/* Styles applicable at display width greater than 1024px */
@media only screen and (min-width: 1024px) {
    .larger-font {
        font-size: 1.5rem;
    } 
} 

label {
    color: black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.boldtext{
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 2%;
}

.ordersheet-labels{
    text-align: left;
    font-weight: bold;
    padding-top: 5%;
}